<div class = "example-container">
    <form [formGroup] = "form">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName = "name">
            <mat-error *matErrorContent = "let error">{{ error?.message }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput formControlName = "age">
            <mat-error *matErrorContent = "let error">{{ error?.message }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName = "email">
            <mat-error *matErrorContent = "let error">{{ error?.message }}</mat-error>
        </mat-form-field>
        <h4>Custom Select</h4>
        <my-select></my-select>
        <button mat-button class = "ui-circle-button">Submit</button>
    </form>
</div>

{{ form.value | json }}
