<div class = "example-container">
    <form [formGroup] = "form" (ngSubmit) = "eventSubmit()">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName = "name">
            <mat-error *matErrorContent = "let error">{{ error?.message }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput formControlName = "age">
            <mat-error *matErrorContent = "let error">{{ error?.message }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName = "email">
            <mat-error *matErrorContent = "let error">{{ error?.message }}</mat-error>
        </mat-form-field>

        <h4>Custom Select</h4>
        <my-select formControlName = "other" [options] = "countries"></my-select>
        <br>
        <button mat-raised-button>Submit</button>
        <br>
    </form>
</div>

{{ form.value | json }}
